{% extends 'adminlte/base/base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/toastr/toastr.min.css' %}">
<style media="screen">
  .img-150 {
    width: 150px;
    height: 150px;
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #80b229;
    border-radius: 5px;
  }
  .img-200 {
    width: 200px;
    height: 200px;
    max-width: 200px;
    max-height: 200px;
    border: 1px solid #80b229;
    border-radius: 5px;
  }
</style>
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Crear articulo para Arcticulos de Academia</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'devise-dashboard1' %}">Inicio</a></li>
          <li class="breadcrumb-item"><a href="{% url 'academia-articulo-list' %}">categorías</a></li>
          <li class="breadcrumb-item active">Crear</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col -->
      <div class="col-md-10">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">Información articulo</a></li>
            </ul>
          </div><!-- /.card-header -->
          <div class="card-body">
            <div class="tab-content">
              <div class="active tab-pane" id="general">
                <form class="form-horizontal" action="" method="post"  enctype="multipart/form-data" id="notaria_form">
                  {% csrf_token %}
                  <div class="row">
                  
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Categoria</label>
                        <div class="col-md-9">
                          {% render_field form.categoria  class="form-control" %}
                          {% for error in form.categoria.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Titulo</label>
                        <div class="col-md-9">
                          {% render_field form.titulo  class="form-control" %}
                          {% for error in form.titulo.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Fecha</label>
                        <div class="col-md-9">
                          {% render_field form.fecha  class="form-control" type="date" %}
                          {% for error in form.fecha.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Imagen</label>
                        <div class="col-md-9">
                          {% render_field form.imagen  class="form-control" %}
                          {% for error in form.imagen.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    <div class="col-md-6">
                      <div class="form-group row">
                        <label for="" class="col-md-3 col-form-label">Contenido</label>
                        <div class="col-md-9">
                          {% render_field form.contenido  class="form-control" rows="5" %}
                          {% for error in form.contenido.errors %}
                            <p class="text-danger">{{ error }}</p>
                          {% endfor %}
                        </div>
                      </div>
                    </div>

                    
                  </div>

                  <hr>
                  
                  <div class="row mt-3">
                    <button type="submit" class="btn btn-primary mr-2" name="button">Guardar</button>
                    <a href="{% url 'academia-articulo-list'  %}" class="btn btn-default">Volver</a>
                  </div>
                </form>
              </div>

            </div>
            <!-- /.tab-content -->
          </div><!-- /.card-body -->
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->

{% endblock %}

{% block extra_js %}
<script src="{% static 'adminlte-3.1.0/plugins/bootstrap-switch/js/bootstrap-switch.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/toastr/toastr.min.js' %}"></script>

<script type="text/javascript">





</script>
{% endblock %}
