{% extends 'adminlte/base/base.html' %}
{% load static i18n %}
{% load widget_tweaks %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.css' %}">

{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">{% trans "Update" %} {% trans "Role" %}</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'devise-dashboard1' %}">{% trans "Home" %}</a></li>
          <li class="breadcrumb-item"><a href="{% url 'role-list' %}">{% trans "Role" %}</a></li>
          <li class="breadcrumb-item active">{% trans "Update" %}</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <!-- /.col -->
      <div class="col-md-12">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#general" data-toggle="tab">{% trans "General information" %}</a></li>
            </ul>
          </div><!-- /.card-header -->
          <form class="form-horizontal" method="post">
            <div class="card-body">
              <div class="tab-content">
                <div class="active tab-pane" id="general">
                    {% csrf_token %}
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="" class="col-md-3 col-form-label">{% trans "Name" %}</label>
                          <div class="col-md-9">
                            {% render_field form.name  class="form-control" %}
                            {% for error in form.name.errors %}
                              <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label for="" class="col-md-3 col-form-label">{% trans "Sub-role" %}</label>
                          <div class="col-md-9">
                            {% render_field form.groups  class="form-control" %}
                            {% for error in form.groups.errors %}
                              <p class="text-danger">{{ error }}</p>
                            {% endfor %}
                          </div>
                        </div>
                      </div>
                    </div>

                </div>

              </div>
              <!-- /.tab-content -->
            </div><!-- /.card-body -->
          

            <div class="card-footer"> <!-- /.card-footer -->
              <button type="submit" class="btn btn-primary mr-2" name="button">{% trans "Save" %}</button>
              <a href="{% url 'role-list'  %}" class="btn btn-default">{% trans "Back" %}</a>
              <a href="#" onclick="delete_function('{{object.pk}}')" class="btn btn-danger float-right " >{% trans "Delete" %}</a>

            </div><!-- /.card-footer -->
        </form>
        </div>
        <!-- /.nav-tabs-custom -->
      </div>
      <!-- /.col -->
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.js' %}"></script>

<script type="text/javascript">

{% if perms.user.delete_role %}

function  delete_function(role_pk) {
  Swal.fire({
    title: '{% trans "Removal Process" %}',
    text: '{% trans "Please confirm if you want to delete the user." %}',
    icon: 'warning',
    showCancelButton: true,
    confirmButtonText: '{% trans "Delete" %}',
    confirmButtonColor: '#ff0000',
  }).then((result) => {
    if (result.isConfirmed) {
      delete_role(role_pk);
    }
  })
}

function delete_role (role_pk, action, notes='') {

  let form_data = new FormData();
  form_data.append("pk", role_pk);
  form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  url = Urls.role_delete();
  fetch(url, {
    method: 'post',
    body: form_data,
  })
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    if (data['status'] == 'success') {
      Swal.fire({
        title: `${data['title']}`,
        text: `${data['message']}`,
        icon: 'success',
        showConfirmButton: false,
        timer: 2000
      }).then((result) => {
        window.location.replace('/users/role/list/');
      });
    }else{
      Swal.fire({
        title: `${data['title']}`,
        text: data['message'],
        icon: 'error',
        showConfirmButton: false,
        timer: 2000
      });
    }
  })
  .catch((error) => {
    Swal.fire({
      title: '{% trans "Error changing state"  %}',
      text: '{% trans "Error processing the request, Contact your Administrator!"  %}',
      icon: 'error',
      confirmButtonText: "Cerrar",
      confirmButtonColor: '#6e7d88',
    });
  });
}
{% endif %}

</script>
{% endblock %}


