{% extends 'adminlte/base/base.html' %}
{% load static i18n %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/select2/css/select2.min.css' %}">
<link rel="stylesheet" href="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.css' %}">

<style media="screen">
  #_action_file_format{
    display: none;
  }
  #_action_file_format.active{
    display: block;
  }
</style>
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Usuarios bloqueados por intentos fallidos</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'devise-dashboard1' %}">Home</a></li>
          <li class="breadcrumb-item active">Usuarios</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        {% comment %} <h3 class="card-title">Users</h3> {% endcomment %}

        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
            <i class="fas fa-minus"></i></button>
          <button type="button" class="btn btn-tool" data-card-widget="remove" data-toggle="tooltip" title="Remove">
            <i class="fas fa-times"></i></button>
        </div>
      </div>
      <div class="card-body p-0">
        <form action="" method="get">
          <div class="row p-2">
            <div class="col-sm-12 col-md-6 mt-1">
              <!-- <input type="text" class="form-control" name="filter" value="{{ filter }}" placeholder="usuario, email"> -->
              <select class="select2" multiple="multiple" name="filter" style="width: 100%">
                {% if filter_obj.value %}
                  {% for filter in filter_obj.value %}
                    <option value="{{ filter }}" selected>{{ filter }}</option>
                  {% endfor %}
                {% endif %}
              </select>
            </div>

            <div class="col-sm-12 col-md-6 mt-1">
              <div class="form-group row">
                <label  class="col-md-3 col-form-label">Estado:</label>
                <div class="col-md-9">
                  <select class="custom-select" name="verified">
                    <option value="">Todos</option>
                    <option value="1" {%if filter_obj.filter_verified == '1' %}selected{% endif %}>Activos</option>
                    <option value="0" {%if filter_obj.filter_verified == '0' %}selected{% endif %}>Inactivos</option>
                  </select>
                </div>
              </div>
            </div>

          </div>
          <div class="row p-2">
            <div class="col mt-">
              <button type="submit" class="btn btn-primary ml-2">Filtrar</button>
              {% if filter_obj.url %}
                <a href="{% url 'user-locked-list' %}" class="btn btn-warning">Limpiar filtros</a>
              {% endif %}
            </div>
          </div>
        </form>


        <form id="action-list-form" class="" action="{% url 'user-list-export' %}" method="post">{% csrf_token %}
          <input id="_selected_all_elements" type="hidden" name="selected-all-elements" value="0">
          <input id="_action" type="hidden" name="_action" value="">
          <input id="_format" type="hidden" name="_format_file" value="">
          <input id="_filter_verified" type="hidden" name="filter_verified" value="{{ filter_verified }}">

          {% if filter_obj.value %}
            {% for filter in filter_obj.value %}
              <input type="hidden" name="filter" value="{{ filter }}">
            {% endfor %}
          {% endif %}

          <table class="table table-striped table-responsive projects">
            <thead>
              <tr>
                <th class="" style="width: 1%">
                  <input id="_action_selection_page" class="" type="checkbox"
                    name="" value="">
                </th>
                <th class="">Correo</th>
                <th class="text-center">Rol-Subrol</th>
                <th class="text-center">Telefono</th>
                <th class="text-center">Bloqueo</th>
                <th class="text-center">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for object in object_list %}
                <tr>
                  <td>
                    <input class="form-checked-input" type="checkbox"
                      name="_action_selection" value="{{ object.pk }}">
                  </td>
                  <td>{{ object.email }}</td>
                  {% comment %} <td class="text-center">{{ object.get_country_display }}</td> {% endcomment %}
                  <td class="text-center">{{ object.role }}-{{ object.groups.all.0 }}</td>
                  <td class="text-center">{{ object.phone}}</td>
                  <td class="text-center">
                        <span class="badge badge-danger">Bloqueado</span>
                  </td>
                  <td class="text-center">
                    <a class="btn btn-primary btn-sm" href="#!" id="unlock_user" onclick="unlock_user('{{object.pk}}')" >
                        <i class="fas fa-check">
                        </i>
                        Activar
                    </a>
                  </td>
                  
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </form>
      </div>
      <!-- /.card-body -->

      <div class="card-footer">

        <div class="dataTables_paginate paging_simple_numbers">
          <ul class="float-left">
            <span style="font-weight: bold;">Total: {{ page_obj.paginator.count }}</span>
          </ul>
          <ul class="pagination float-right">
            {% if page_obj.has_previous %}
              <li class="paginate_button page-item"><a class="page-link"
                  href="?page=1{{filter_obj.url}}">«</a>
              </li>
              <li class="paginate_button page-item"><a class="page-link"
                  href="?page={{ page_obj.previous_page_number }}{{filter_obj.url}}">Previous</a>
              </li>
            {% endif %}

            {% for i in pages %}
              {% if page_obj.number == i %}
              <li class="paginate_button page-item">
                <a class="page-link" href="javascript:;">
                  Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </a>
              </li>
              {% else %}
              <li class="paginate_button page-item">
                <a class="page-link" href="?page={{i}}{{filter_obj.url}}">
                  {{i}}
                </a>
              </li>
              {% endif %}

            {% endfor %}
            
            

            {% if page_obj.has_next %}
              <li class="paginate_button page-item"><a class="page-link"
                  href="?page={{ page_obj.next_page_number }}{{filter_obj.url}}">Next</a>
              </li>
              <li class="paginate_button page-item"><a class="page-link"
                  href="?page={{ page_obj.paginator.num_pages }}{{filter_obj.url}}">»</a>
              </li>
            {% endif %}

          </ul>
        </div>

      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'adminlte-3.1.0/plugins/select2/js/select2.full.min.js' %}"></script>
<script src="{% static 'adminlte-3.1.0/plugins/sweetalert2/sweetalert2.min.js' %}"></script>
<script type="text/javascript">



{% if user.is_staff %}
function  unlock_user(user_pk) {
  console.log("activando")
  Swal.fire({
    title: 'Desbloqueo de Usuarios',
    text: '¿Esta seguro de proceder con el desbloqueo de éste usuario?',
    cancelButtonText: 'Cancelar',
    icon: 'success',
    showCancelButton: true,
    confirmButtonText: 'Proceder',
    confirmButtonColor: '#a5dc86',
  }).then((result) => {
    if (result.isConfirmed) {
      unlock_access(user_pk);
    }
  })
}

function unlock_access (user_pk) {

  let form_data = new FormData();
  form_data.append("pk", user_pk);
  form_data.append('csrfmiddlewaretoken', '{{ csrf_token }}');
  url = Urls.user_unlock_access();
  fetch(url, {
    method: 'post',
    body: form_data,
  })
  .then((response) => {
    return response.json();
  })
  .then((data) => {
    if (data['is_active'] == 'success') {
      Swal.fire({
        title: `${data['title']}`,
        text: `${data['message']}`,
        icon: 'success',
        confirmButtonText: 'Aceptar',
        confirmButtonColor: '#a5dc86',
      }).then((result) => {
        location.reload();
      });
    }else{
      Swal.fire({
        title: `${data['title']}`,
        text: data['message'],
        icon: 'error',
        confirmButtonText: 'Cerrar',
        confirmButtonColor: '#a5dc86',
      });
    }
  })
  .catch((error) => {
    Swal.fire({
      title: 'Error al cambiar el estado',
      text: 'Error procesando la peticion por favor consulte a soporte',
      icon: 'error',
      confirmButtonText: 'Cerrar',
      confirmButtonColor: '#a5dc86',
    });
  });
}
{% endif %}

  $(function () {
    $('.select2').select2({
      placeholder: 'Buscar por: Nombre, E-mail',
      tags: true,
      tokenSeparators: [',']
    });
  });
</script>
{% endblock %}
