{% extends 'adminlte/base/base.html' %}
{% load static i18n %}

{% block extra_css %}
{% endblock %}

{% block content %}
<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1 class="m-0 text-dark">Dashboard</h1>
      </div><!-- /.col -->
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item"><a href="{% url 'devise-dashboard1' %}">Inicio</a></li>
          <li class="breadcrumb-item active">dashboard</li>
        </ol>
      </div><!-- /.col -->
    </div><!-- /.row -->
  </div><!-- /.container-fluid -->
</div>
<!-- /.content-header -->

<!-- Main content -->
<section class="content">
  <div class="container-fluid">
    <!-- Info boxes -->
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-info elevation-1"><i class="fas fa-users"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Clientes Registrados</span>
            <span class="info-box-number">{{ users_registered.count }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-success elevation-1"><i class="fas fa-shopping-cart"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Total Fondos</span>
            <span class="info-box-number">{{ transactions.count }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->
      
      <!-- /.col -->
      <div class="col-12 col-sm-6 col-md-4">
        <div class="info-box mb-3">
          <span class="info-box-icon bg-warning elevation-1"><i class="fas fa-thumbs-up"></i></span>

          <div class="info-box-content">
            <span class="info-box-text">Transacciones</span>
            <span class="info-box-number">{{ transactions_pending.count }}</span>
          </div>
          <!-- /.info-box-content -->
        </div>
        <!-- /.info-box -->
      </div>
      <!-- /.col -->

      <!-- fix for small devices only -->
      <div class="clearfix hidden-md-up"></div>

    </div>
    <!-- /.row -->


    <!-- Main row -->
    <div class="row">
      <!-- Left col -->
      <div class="col-md-8">
        <!-- TABLE: LATEST ORDERS -->
        <div class="card">
          <div class="card-header border-transparent">
            <h3 class="card-title">Ultimos Usuarios Registrados</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse">
                <i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove">
                <i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table m-0">
                <thead>
                  <tr>
                    <th>Nombre ID</th>
                    <th>devise ID</th>
                    <th>Rol</th>
                    <th>Pais</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>admin</th>
                    <th>001445</th>
                    <th>Admin</th>
                    <th>Colombia</th>
                  </tr>
                  <tr>
                    <th>rafael204</th>
                    <th>008594</th>
                    <th>Inversionista</th>
                    <th>Colombia</th>
                  </tr>
                  <tr>
                    <th>andres84</th>
                    <th>002345</th>
                    <th>Inversionista</th>
                    <th>Colombia</th>
                  </tr>
                  <tr>
                    <th>v1ctor04</th>
                    <th>003445</th>
                    <th>Inversionista</th>
                    <th>Colombia</th>
                  </tr>
                  <tr>
                    <th>mario234</th>
                    <th>004853</th>
                    <th>Inversionista</th>
                    <th>Colombia</th>
                  </tr>
                  <tr>
                    <th>miguel400</th>
                    <th>009943</th>
                    <th>Inversionista</th>
                    <th>Colombia</th>
                  </tr>
                  {% for transaction in transactions|slice:":8"%}
                    <tr>
                      <td>
                        {% if perms.wallet.view_wallettransaction %}
                          <a href="{% url 'devise-dashboard1' transaction.pk %}">{{ transaction.slug }}</a>
                        {% else %}
                          {{ transaction.slug }}
                        {% endif %}
                      </td>
                      <td>{{ transaction.get_type_display }}</td>
                      <td>{{ transaction.sender.username }}</td>
                      <td>{{ transaction.amount }}</td>
                      <td>
                        {% if transaction.status %}
                          <span class="badge badge-success">Confirmado</span>
                        {% else %}
                          <span class="badge badge-warning">Pendiente</a>
                        {% endif %}
                      </td>
                      <td>{{ transaction.created_at }}</td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
            <!-- /.table-responsive -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer clearfix">
            {% if perms.wallet.view_wallettransaction %}
              <a href="{% url 'devise-dashboard1' %}" class="btn btn-sm btn-secondary float-right">Ver Todos</a>
            {% else %}
              <a href="#" class="btn btn-sm btn-secondary float-right disabled">Ver Todos</a>
            {% endif %}
          </div>
          <!-- /.card-footer -->
        </div>
        <!-- /.card -->
      </div>
      <!-- /.col -->

      <div class="col-md-4">

        <!-- USERS LIST -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Ultimos Fondos Registrados</h3>

            <div class="card-tools">
              <button type="button" class="btn btn-tool" data-card-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-tool" data-card-widget="remove"><i class="fas fa-times"></i>
              </button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body p-0">
            <ul class="users-list clearfix">

              {% comment %} ejemplos para acciones y valores {% endcomment %}

              <li>
                  <img class="img-circle img-circle-90" src="https://static.vecteezy.com/system/resources/previews/028/029/033/non_2x/3d-icon-business-empty-briefcase-free-png.png" alt="User Image">

                  <a class="users-list-name" href="javascript:;">SiRenta</a>
                
                <span class="users-list-date">23/11/2024</span>
              </li>
              <li>
                <img class="img-circle img-circle-90" src="https://static.vecteezy.com/system/resources/previews/028/029/033/non_2x/3d-icon-business-empty-briefcase-free-png.png" alt="User Image">

                <a class="users-list-name" href="javascript:;">FORE</a>
              
              <span class="users-list-date">29/11/2024</span>
            </li>
            <li>
              <img class="img-circle img-circle-90" src="https://static.vecteezy.com/system/resources/previews/028/029/033/non_2x/3d-icon-business-empty-briefcase-free-png.png" alt="User Image">

              <a class="users-list-name" href="javascript:;">ACCIVAL</a>
            
            <span class="users-list-date">02/12/2024</span>
          </li>
          <li>
            <img class="img-circle img-circle-90" src="https://static.vecteezy.com/system/resources/previews/028/029/033/non_2x/3d-icon-business-empty-briefcase-free-png.png" alt="User Image">

            <a class="users-list-name" href="javascript:;">ACCICUENTA</a>
          
          <span class="users-list-date">01/12/2024</span>
        </li>
        

              {% comment %} ejemplos para acciones y valores {% endcomment %}

              {% for user in users_registered|slice:":10" %}
                <li>
                  {% if user.image_profile %}
                    <img class="img-circle img-circle-90" src="{{ user.image_profile.url }}" alt="User Image">
                  {% else %}
                    <img class="img-circle img-circle-90" src="{% static 'adminlte-3.1.0/dist/img/unknow_user.png' %}" alt="User Image">
                  {% endif %}

                  {% if perms.user.view_user %}
                    <a class="users-list-name" href="{% url 'user-detail' user.pk %}">{{ user.username }}</a>
                  {% else %}
                    <a class="users-list-name" href="javascript:;">{{ user.username }}</a>
                  {% endif %}
                  <span class="users-list-date">{{ user.date_joined|date:"d M"}}</span>
                </li>
              {% endfor %}
            </ul>
            <!-- /.users-list -->
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-center">
            {% if perms.user.view_user %}
              <a href="{% url 'devise-dashboard1' %}">Ver todos </a>
            {% else %}
              <a href="javascript:;" class="disabled">Ver todos </a>
            {% endif %}
          </div>
          <!-- /.card-footer -->
        </div>
        <!--/.card -->

      </div>
      <!-- /.col -->
    </div>
    <!-- /.row -->
  </div>
  <!--/. container-fluid -->
</section>
<!-- /.content -->
{% endblock %}

{% block extra_js %}
<script src="{% static 'adminlte-3.1.0/plugins/chart.js/chart.min.js' %}"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

<script type="text/javascript">

  window.addEventListener('DOMContentLoaded', (event) => {

    google.charts.load('current', {packages: ['corechart', 'line']});
google.charts.setOnLoadCallback(drawBasic);

function drawBasic() {

      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Date');
      data.addColumn('number', 'fiat');

      data.addRows([
        {% for crypto_history in crypto_fiat_history %}
          ["{{crypto_history.date|date:"H:i"}}", {{crypto_history.fiat|stringformat:".2f"}}],
        {% endfor %}
      ]);

      var options = {
        vAxis: {
          title: 'USD'
        }
      };

      var chart = new google.visualization.LineChart(document.getElementById('crypto-fiat-chart'));

      chart.draw(data, options);
    }

  });

  /* div id = crypto-fiat-chart */
</script>
{% endblock %}
